/* General marker styling for top-level markers */
.top-level-marker {
  background-color: rgb(101, 72, 33);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.highlighted-marker-box {
  background-color: rgb(211, 200, 191);
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.highlighted-marker-box::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Adjust to align with the top of the waypoint */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0) transparent transparent transparent; /* Create a triangle */
}

/* Hover effect for top-level markers */
.top-level-marker:hover {
  background-color: #be7a43;
  transition: background-color 0.3s ease;
  border-radius: 50%;
  box-shadow: 0 0 10px #2f1900;
}

/* Hover effect for top-level markers when actuated by route box hover */
.hovered-top-level-marker {
  background-color: #be7a43;
  transition: background-color 0.3s ease;
  border-radius: 50%;
  box-shadow: 0 0 10px #2f1900;
}

/* General marker styling for waypoint markers */
.waypoint-marker {
  background-color: #ff1e1e; /* Bright Red */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect for waypoint markers */
.waypoint-marker:hover {
  background-color: hsl(237, 100%, 61%); /* Vivid Blue for contrast */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
  box-shadow: 0 0 14px #0044cc; /* Deep Blue Glow */
}

/* Hover effect for waypoint markers when actuated by route box hover */
.hovered-waypoint-marker {
  background-color: hsl(237, 100%, 61%); /* Vivid Blue for contrast */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
  box-shadow: 0 0 14px #0044cc; /* Deep Blue Glow */
}
